<h1>Students</h1>
<%= will_paginate_nicely @students %>
<table class="table">
  <thead>
    <tr>
      <th width="32%">
        Name
      </th>
      <th width="32%">
        Email
      </th>
      <th width="10%">
        Birth Date
      </th>
      <th width="10%">
        Gender
      </th>
      <th width="16%">
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <% if @students.empty? %>
      <tr><td colspan="5" style="text-align: center;">There are no students to show.</td></tr>
    <% else %>
      <%= render partial: 'student', collection: @students %>
    <% end %>
  </tbody>
</table>
<%= will_paginate_nicely @students %>